/*

* demo.css

* File include item demo only specific css only

******************************************************************************/



.menu .app-brand.demo {

/*  height: 64px;*/

/*  margin-top: 12px;*/

}



.menu .app-brand.demo img {

  max-height: 118px;

  width: 100%;

  margin: 35px auto;

}

.app-brand-logo.demo svg {

  width: 22px;

  height: 38px;

}



.app-brand-text.demo {

  font-size: 1.75rem;

  letter-spacing: -0.5px;

  text-transform: lowercase;

}



/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */

/* Detached navbar */

.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {

  padding-top: 76px !important;

}

/* Default navbar */

.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {

  padding-top: 64px !important;

}



/* Navbar page z-index issue solution */

.content-wrapper .navbar {

  z-index: auto;

}



/*

* Content

******************************************************************************/



.demo-blocks > * {

  display: block !important;

}



.demo-inline-spacing > * {

  margin: 1rem 0.375rem 0 0 !important;

}



/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */

.demo-vertical-spacing > * {

  margin-top: 1rem !important;

  margin-bottom: 0 !important;

}

.demo-vertical-spacing.demo-only-element > :first-child {

  margin-top: 0 !important;

}



.demo-vertical-spacing-lg > * {

  margin-top: 1.875rem !important;

  margin-bottom: 0 !important;

}

.demo-vertical-spacing-lg.demo-only-element > :first-child {

  margin-top: 0 !important;

}



.demo-vertical-spacing-xl > * {

  margin-top: 5rem !important;

  margin-bottom: 0 !important;

}

.demo-vertical-spacing-xl.demo-only-element > :first-child {

  margin-top: 0 !important;

}



.rtl-only {

  display: none !important;

  text-align: left !important;

  direction: ltr !important;

}



[dir='rtl'] .rtl-only {

  display: block !important;

}



/*

* Layout demo

******************************************************************************/



.layout-demo-wrapper {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -ms-flex-direction: column;

  flex-direction: column;

  margin-top: 1rem;

}

.layout-demo-placeholder img {

  width: 900px;

}

.layout-demo-info {

  text-align: center;

  margin-top: 1rem;

}

.side-menu{

  display: none !important;

}

.toggle-menu{

  position: absolute;

  z-index: 99;

}


.company-logo{
    max-width: 40%;
    height: auto;
    padding-bottom: 35px;
    display: block;
}
.receipt-company-logo{
    margin: 0 auto;
    max-width: 40%;
    height: auto;
    padding-bottom: 5px;
    display: block;
}

.company-nm{

  font-size: 17px;

  font-weight: 500;

}
.inv-no, 
.bill-dt{
  margin-top: 20px;
}
.bill-dt{
  text-align: right;
}
.wander-address, .wander-tel, .wander-mail, .wander-gstin, .wander-pan, .address, .tel, .mail, .gstin, .pan, .bill-dt, .inv-no{
  font-size: 14px;
  margin-bottom: 3px;
}

.address span, .tel span, .mail span, .gstin span, .pan span, .bill-dt span, .bill-dt span, .inv-no span{

  font-weight: 500;

}

.bill{

  font-weight: 500;

  margin-bottom: 5px;

}

.invoice_desc strong{

  display: block;

}

.rate{

  text-align: right;

}

.terms p{

  margin-bottom: 0px;

  font-size: 14px;

}

.list-action{

    border: 1px solid #9b9b9b;

    border-radius: 50%;

    width: 30px;

    height: 30px;

    line-height: 30px;

    text-align: center;

    background-color: #d1d1d1;

    display: table;

    margin: 0 auto;

}

.list-action.dropdown-toggle::after {

  display: none;

}

.company-details p,

.company-details h5{

  text-align: center;

  font-weight: bold;

}

.company-details .company-logo{

  margin: 0 auto;

  display: block;

  max-height: 145px;

}
h5.wander-nm{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a3a1a1 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a3a1a1 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #a3a1a1 !important;
}
input{
  color: #a3a1a1 !important;
}
select{
  color: #a3a1a1 !important;
}
.payment-option-display span{
  font-weight: 600;
}
.pay-mode{
  text-transform: capitalize;
}
.receipt-dt{
  float: right;
}
p.receipt-body{
  line-height: 32px;
}
.receipt-body span{
  font-style: italic;
  font-weight: 500;
}
.mail-send-msg,
.mail-send-inv-msg{
  padding: 5px 15px;
  margin: 0;
}
.modal-header{
  border-bottom: none !important;
}
.account-details p{
  margin: 0;
  line-height: 26px;
}
.account-details p span{
  font-weight: 500;
}
.form-control{
  background-color:transparent !important;
}
.invoice-generated-by p,
.receipt-generater p{
  font-style: italic;
  float: right;
  margin-bottom: 3px;
} 
.invoice-generated-by p span,
.receipt-generater p span{
  font-weight: 500;
}
.col-details h4,
h4.inv-title {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 10px;
}
.com-name{
  text-align: right;
}
.com-name span{
  font-weight: 500;
}
.user-title{
  text-transform: uppercase;
  color: #6e6e6e;
}
.select2-selection__rendered {
    line-height: 34px !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-selection__arrow {
    height: 35px !important;
}
.custom-switch label{
  cursor: pointer;
}